.pagination {
    text-align: center;
    margin-top: 20px;
}

.step-links {
    display: inline-block;
}

.step-links a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.current-page {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.step-links a:hover {
    background-color: #0056b3;
}